@model Restaurant

<section>
    <h3>@Model.Name</h3>
    <div>Cuisine: @Model.Cuisine</div>
    <div>
        <a asp-action="detail" asp-route-id="@Model.Id">Detail</a>
        <a asp-page="/restaurants/edit" asp-route-id="@Model.Id">Edit</a>
    </div>
</section>