@model HomeIndexViewModel

@{
    ViewBag.Title = "Home Page";
}

<h1>All Restaurants</h1>

@foreach(var restaurant in Model.Restaurants) {
    @Html.Partial("_summary", restaurant);
}
<hr>

<div>
    <a asp-action="create">Add Restaurant </a>
</div>

@section footer {
    @DateTime.Now
}
